<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>OLOK</span>
</mat-toolbar>


<mat-grid-list cols="2" rowHeight="2:2">
  <mat-grid-tile>

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold">Bold</mat-button-toggle>
      <mat-button-toggle value="italic">Italic</mat-button-toggle>
      <mat-button-toggle value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group>

  </mat-grid-tile>
  <mat-grid-tile>

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold">Bold</mat-button-toggle>
      <mat-button-toggle value="italic">Italic</mat-button-toggle>
      <mat-button-toggle value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group>

  </mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>
